<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bird Flappy Highscores</title>
        <link rel="stylesheet" href="static/main.css" type="text/css">
    </head>

    <body class="body">
        <form>
            <h1>FLAPPY BIRD</h1>

            <h2 class="title">HIGHSCORES</h2>

            <table class="content-table">
                <thead><th>Ranking</th><th>Name</th><th>Score</th><th>Date</th></thead>
                <tbody class="tbody"></tbody>
            </table>
        </form>
    </body>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/dashboard.js"></script>
</html>